# Database
POSTGRES_USER=gamefinder
POSTGRES_PASSWORD=gamefinder_password
POSTGRES_DB=gamefinder_db

# PgAdmin
PGADMIN_EMAIL=admin@gamefinder.com
PGADMIN_PASSWORD=admin

# Ports
FRONTEND_PORT=5173
BACKEND_PORT=3001
POSTGRES_PORT=5432
PGADMIN_PORT=5050

# Grafana Admin
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=adminpass
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/[...]
#import from a webhook created from within a discord channel under channel settings > integration
