POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=
RECOMMENDATION_DATABASE_URL=
#PgAdmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

#Ports
FRONTEND_PORT=
BACKEND_PORT=
POSTGRES_PORT=
PGADMIN_PORT=

#Frontend
FRONTEND_URL=

#Back JWT
JWT_SECRET=
JWT_EXPIRES_IN_SECONDES=

# Grafana Admin
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=
DISCORD_WEBHOOK_URL=

#STEAM
STEAM_API_KEY=
STEAM_REALM=
STEAM_RETURN_URL=

#TWITCH
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=