# Node / Front
node_modules/
npm-debug.log*
yarn-error.log*

# Build
dist/
build/

# OS / IDE
.DS_Store
.vscode/

# DevOps
.env
backups/
ssl/*.crt
ssl/*.key

# Miscellanous
.idea/

# claude
.claude

#Workspace settings
.prettierrc

#Python cache
__pycache__/

#frontend
frontend.md
